* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo-pic {
    height: 7rem;
    padding-left: 5rem;
    padding-top: 1.2rem;
}

.cust-btn {
    background-color: #27489B;
    margin-right: 1rem;
}

.btn-outline-success:hover {
    color: white;
    background-color: #269AD6;
}

.search-btn {
    margin-right: 5.7rem;
}

.category {
    padding-right: 5rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #27489B;
}

.cardGrid {
    margin: 1rem;
}

.card-img-top {
    height: 15rem;
    object-fit: contain;
}

.card-title {
    font-size: 1.2rem;
}

.form-cust {
    margin-left: 4rem;
    margin-right: 6rem;
}

.btn-primary {
    background-color: #269AD6;
}

.btn-primary:hover {
    background-color: #27489B;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 100px;
    border: 2px solid #269AD6;
    cursor: pointer;
}

.sub-menu-wrap {
    top: 68%;
    z-index: 1;
    right: 2.7%;
    width: 190px;
    max-height: 0px;
    margin-left: 50px;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 3pc;
    border-color: #269AD6;
}

.sub-menu-wrap.open-menu {
    max-height: 380px;
}

.sub-menu {
    background: #f8f9fa;
    padding-left: 20px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
}

.sub-menu-link p {
    padding-top: 15px;
    width: 100%;
}

.sub-menu-link img {
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link:hover p {
    font-weight: 600;
}